.card-img {
  height: 88.2vh;
  border: none;
  margin-top: 5.8%;
  opacity: 0.7;
}
.container.content {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 15% 0%;
  margin-top: 7%;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  white-space: nowrap;
  text-shadow: 1px 3px 2px #000;
}
.hero-text {
  font-size: 28px;
  font-weight: 400;
  white-space: nowrap;
  text-shadow: 1px 5px 2px #000;
}
.shop-now{
  background-color: black;
  width: 100px;
  text-align: center;
  padding: 10px;
  border-radius: 22px;
}